table{
    border: 1px solid black;
    position: relative;
    bottom: 70px;
    background-color: #ff8000;
    font-weight: bold;
    width: 95%;
    margin: auto;
    
    
    
}
section{
    position: absolute;
    top:390px;
    text-align: center;
    
    
    
    
}
tr{
    border: 1px solid ;
   
    
}
td{
    border: 1px solid;
     
     
}
h1{
    color:blue;
    
  
}
.acc{
    list-style-type:none;
    
}

.acc-item {
	display: inline-block;
    margin-left: auto;
  margin-right: auto;
	
}
.compteur{
   position: relative;
   bottom:70px;
   font-weight:bold;
   color: #000000;
}
nav{
    width:50%;
    margin:auto;
    border: 1px solid #1515ff;
    background-color: #1515ff ;
}
a{
  text-decoration: none;
  text-align:center;
  margin-left: 5px;
  color:#ffffff;
  font-weight: bold;	
  
  
}
a:hover{
    color:#ff0000;
    text-decoration: underline;
}
header{
    
    border-bottom: 3px  outset #ff712d;
    background-color: #ff712d;
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    
}
footer{
    position: fixed;
    bottom: 0px;
    left: 180px;
    right:180px;
    border-top:3px outset #e4e4e4;
    
    background-color: #ff712d;
    
    
}

body{
    background:url('fac.jpg');
    background-size:cover;
    margin:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

form{
   
    width: 65%;
    margin: auto;
    
    position: relative;
    top: 200px;
  
}

input{
    
    font-weight:bold;
  
}
label{
   color: white ;
   font-weight:bold;
}
/*fieldset{
    background-color: #0080ff;
}*/
